/* 背景画像css */
.bg-slider {
	width: 100vw;
	height: 100vh;
	display: block;
	background-position:center center;
	background-size: cover;
	align-items: center;
	justify-content: center;
}
.bg-slider__title{
	color: #fff;
	font-family: 'Caveat', cursive;
	font-size: 48px;
	line-height: 10;
	font-weight: bold;
	text-align:center;
	text-shadow: 1px 1px 1px #000;
}

/* リストcss  */
nav{
	text-align: center;
}
nav ul{
	margin: 0 ;
	padding: 0 ;
	line-height: 10;
}
nav ul li{
	list-style: none;
	display: inline-block;
	width: 18%;
	min-width: 90px;
}
nav ul li a{
	font-family: 'Caveat', cursive;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}
nav ul li.current a{
	color: #F33135;
}
nav ul li a:hover{
	color: rgba( 0, 630, 110, 2.5 );
}
